[2019-12-17 11:41] naushir opened #1 "VC firmware for running libcamera from the Naush branch."
Build kernel from the tree:
https://github.com/naushir/linux/tree/rpi-4.19.y-libcamera

Extract and copy the attached file to the /boot/ partition of the sdcard.
[start4x.zip](https://github.com/raspberrypi/libcamera/files/3973073/start4x.zip)

[2020-01-14 16:30] kbingham opened #2 "rpi: ipa: applyLS: ISO C++ forbids converting a string constant to ‘char*’"
FAILED: src/ipa/rpi/ef0d5ff@@ipa_rpi@sha/rpi.cpp.o
c++ -Isrc/ipa/rpi/ef0d5ff@@ipa_rpi@sha -Isrc/ipa/rpi -I../src/ipa/rpi -Iinclude -I../include -Isrc/libcamera/include -I../src/libcamera/include -I../src/ipa/rpi/controller -I/opt/vc/include -Iinclude/libcamera -fdiagnostics-color=always -pipe -D_FILE_OFFSET_BITS=64 -Wall -Winvalid-pch -Wnon-virtual-dtor -Wextra -Werror -std=c++11 -g -Wno-unused-pa

[2020-01-14 16:40] kbingham opened #3 "Building libcamera on the RPiv4 seems to crash the RPi"
Not yet sure if this is a heat thing, a memory thing (this is a lower memory device) or because I have non-fully-tested firmwares loaded (from issue:1 here).

I can't attach a serial console at present so I can't easily see if there's a kernel panic. Just logging here for insight if anyone has any.

Next step will be reboot and get meson (ninja) to build only one job at a time.

[2020-01-15 12:03] #2 closed, assigned to naushir

[2020-01-20 14:31] kbingham opened #4 "Gain oscillations"
Running on RPi4, with IMX219. And I what I believe to be the latest code, (I.e. assumed to be what you were running last week).

Actually this is probably both gain and exposure oscillations. But the visual effect is clear.

Here's a log file, and if anyone would like to see the visuals, let me know and I can do a hangout video call with the RPi HDMI output as my video source.

Alternatively I cou

[2020-01-21 13:34] #3 closed, assigned to nobody

[2020-01-28 17:43] kbingham opened #5 "List of configuration items to pass to the IPA"
First thing we need is some way of passing the name of the JSON tuning
file to the IPA.  Perhaps this can be given at the command line by the
user?

Next we need this camera sensor info class passed into the IPA that
should contain

 - List of usable modes
Only used in the current implementation to match the mode against the application requested sizes. Not a requirement for the IPA implementation

[2020-01-28 17:44] kbingham opened #6 "Proposal for V4L core "group hold" mechanism"
Mechanism to synchronise the means of setting controls within V4L2.

An initial proposal needs to be sent to discuss on the linux-media mailing list.

[2020-01-28 17:46] kbingham opened #7 "RAW capture support"
Two parts really.
We need to expose RAW (internal buffer pool) buffers as a stream, without impacting performance handling.

QCam or sample app needs to be able to extract those and save - ideally to DNG formats if there is time.

[2020-01-28 17:47] kbingham opened #8 "JPEG support"
QCam or sample application needs to take a stream and write out JPG data files.

[code]

[2020-01-28 17:48] kbingham opened #9 "Replace hacks for RPi pipeline handlers and IPA search path."
During development, the IPA search path needs to be able to identify the RPi components.

This is currently hacked directly into the RPi branch. A better more general approach needs to be implemented to cover this.

[2020-01-30 18:07] #4 closed, assigned to nobody

[2020-02-17 12:22] naushir opened #10 "Add support for compound controls"
Compound control types are needed for BCM2835-ISP driver parameters.  This will also likely be needed for other vendors as well.

[2020-02-17 12:25] naushir opened #11 "Remove constraints on the sensor subdevice"
The following two constrains in the libcamera code code stop the RPi platform from working:

1) Sensor subdevice must have only one pad.
As you know, right now we are overloading the subdevice pad to
advertise sensor embedded data is available.  Eventually, we intend to
add a "stream" property to the subdevice that can be used instead, but
that may be some time before that's ready.  Would it be po

[2020-02-17 16:51] kbingham opened #12 "Stopping and restarting the stream fails"
When stopping the stream, and restarting the stream does not successfully resume.

This can be tested with the new QCam toolbar additions.
A stop/start button is provided which halts the stream, and then restarts it.

The same methods are used when switching between cameras (for instance if a second UVC camera is attached) where the following will fail:
 - Start streaming on imx219
 - Switch strea

[2020-02-21 10:30] #12 closed, assigned to kbingham, naushir

[2020-02-24 12:52] #9 closed, assigned to kbingham

[2020-03-18 14:17] kbingham opened #13 "Implement forwarding of the SoF event through Unicam to libcamera"
To tackle validating or measuring the performance of staggered writes in userspace (for controls), expose the SoF event to the RPi pipeline handler.

[2020-03-23 13:30] jmondi opened #14 "Image quality issues with latest libcamera-rpi revisions"
Hello,
running on RPi4 with the following configuration:

- latest master branch from this repository
07002c0f0730 ("DNI: Fixes for v4l2 device lost events.")
- latest rpi-5.4.y-libcamera branch from linux-libcamera.git
75b5c3cd5b06 ("media: ov5647: change defaults to better match most raw camera applications")
- fw-10-3-20 from https://github.com/raspberrypi/libcamera/issues/1

gives unexpected r

[2020-03-23 14:16] #14 closed, assigned to 6by9, naushir

[2020-03-23 23:34] #10 closed, assigned to pinchartl, jmondi

[2020-04-16 13:49] #1 closed, assigned to nobody

[2022-02-02 14:40] #13 closed, assigned to pinchartl

[2022-02-02 14:40] #11 closed, assigned to jmondi

[2022-02-02 14:40] #8 closed, assigned to nobody

[2022-02-02 14:41] #7 closed, assigned to neg

[2022-02-02 14:41] #6 closed, assigned to nobody

[2022-02-02 14:41] #5 closed, assigned to jmondi

[2022-02-17 18:31] meawoppl opened #15 "Does not Build with Clang on rpi"
Hello! I have been working to build the picamera2 branch, and I wanted to report that it does not seem happy building with clang in the current state.

[code]

It looks like pretty harmless lint/warnings, but `clang` won't build in the current state.

Would it be helpful if I wrote a github action/CI step to test this? I suspect its an issue on all platforms.

[2022-02-17 18:47] meawoppl commented on #15
I found a place to sprinkle some `#pragma` bits, but this may be an upstream bug in some senses.

[2022-02-18 01:33] meawoppl commented on #15
LMK if you want a PR with the `std::move` in the various marked places above. Also happy to setup some GH CI actions to help lock this in.

[2022-02-18 02:41] pinchartl commented on #15
I can reproduce the ; issue with clang-13 on x86, so that definitely deserves a fix. I see two options, either adding a local patch to pybind11 in the wrap, or disabling the -Wextra-semi warning for the Python bindings. I have a small preference for the former.

The std::move() issue seems valid too. The compiler is required to perform return value optimization starting in C++17, which removes the

[2022-02-23 00:14] meawoppl commented on #15
I opened #16 for the `std::move` issue. The most up to date pybind has a pretty different look around the lines mentioned, so it may be worth seeing if a version bump kills this issue.

[2022-02-23 00:29] meawoppl commented on #15
Removing the semicolon on `../subprojects/pybind11-2.6.1/include/pybind11/detail/common.h` and using the diff from #16 gets this working.

[2022-02-23 01:37] meawoppl commented on #3
As a side note to this all, the build is -faster- and maybe 10x less memory hungry if you use clang ala:
[code]
I was able to complete the build on a pi zero this way in about 20mins.

[2022-05-03 15:32] liyan110120999 opened #18 "I need to adapt to a third-party image sensor. How do I start it?"

[2022-05-03 15:51] 6by9 commented on #18
https://www.raspberrypi.com/documentation/accessories/camera.html#camera-tuning-and-supporting-3rd-party-sensors

[2022-05-04 03:13] #18 closed

[2022-05-12 11:57] naushir commented on #15
I believe this should now be resolved.  Feel free to re-open if there are still issues.

[2022-05-12 11:57] #15 closed

[2022-05-12 22:53] meawoppl commented on #15
Awesome. Thank you.

I have some interest in adding support for the IMX477. Do you  participate in the `libcamera` channel?

[2022-05-13 07:05] naushir commented on #15
I am there occasionally, but probably better to open a github issue/pr to discuss this.

[2022-05-18 20:09] meawoppl opened #19 "Temperature Measurement Support for the IMX477"
I am interested in adding this support. I have a few hints about the process, but what is the obvious starting point?

[2022-05-19 12:50] kbingham commented on #19
- [ ] A V4L2 control needs to be added to the linux kernel. This is a likely starting point : https://lore.kernel.org/linux-media/20220415111845.27130-3-benjamin.mugnier@foss.st.com/ will add V4L2_CID_TEMPERATURE.
- [ ] Sony needs to tell us the register to read the IMX477 temperature. (or someone with a datasheet needs to be allowed to do this, or tell us).
- [ ] This can then be implemented as a

[2022-05-19 13:11] 6by9 commented on #19
Adding V4L2_CID_TEMPERATURE vs using the hwmon API is debated in that thread, so not a resolved question.

Reg 0x0138 bit 0 to enable(1)/disable(0).
Reg 0x013A as a signed 8 bit value for the temperature. Range -20 to +80.
Regs 0x0136/0x0137 need to be written with the correct clock setup before reading.
21ms is required after enabling via 0x0138 before reading if not streaming, or 8 frames if it

[2022-05-19 13:57] pinchartl commented on #19
@meawoppl What do you need the temperature for ? Is this something you would expect would be exposed to applications, or used internally by the algorithms to adapt image processing parameters ?

[2022-05-23 08:35] dinapappor opened #20 "Python documentation"
Seeing that there is libcamera python bindings can we please get documentation on these python bindings? Looking at picamera 2 it hides away alot of complexity and I don't know how to call the libcamera python module(s) and methods by myself. Reading the code of picamera2 isn't helping me learn. Part of why picamera was great was because it had a lot of documentation (especially with MMALobject).

[2022-05-23 20:50] dinapappor commented on #20
https://picamera.readthedocs.io/en/release-1.13/api_mmalobj.html Something like this would be enough for me (it's why I fell in love with the picamera module).

[2022-05-25 21:25] skotwani opened #21 "Unable to build: src/libcamera/meson.build:70:0: ERROR: Dependency "yaml-0.1" not found, tried pkgconfig"
Get the error below when trying to run a build from the picamera2 branch. I was following instructions from https://www.raspberrypi.com/news/a-preview-release-of-the-picamera2-library/ which was dated 2/15/22. Checking out the commit from that date and building worked just fine.

The Meson build system
Version: 0.62.1
Source dir: /home/pi/libcamera
Build dir: /home/pi/libcamera/build
Build type: n

[2022-05-31 12:03] dinapappor commented on #21
Looks like  you are also missing cmake.

Can you try `apt-get --no-install-recommends install cmake libyaml-dev` ?

[2022-06-01 01:28] eli-schwartz commented on #21
cmake is not needed...

[2022-06-04 15:19] skotwani commented on #21
I added that to my build steps and that error is now gone. I now have separate issue (ModuleNotFoundError: No module named 'qt_gl_preview') but that probably deserves a separate issue. Thank you!

[2022-06-04 15:19] #21 closed

[2022-06-23 14:47] #19 closed

[2022-08-16 20:12] chemicstry opened #22 "Issue with gstreamer plugin and IMX519 higher resolutions"
I have an Arducam IMX519 camera on a Raspberry Pi 4, which seems to work fine with libcamera apps (libcamera-still), but fails on high resolutions with gstreamer plugin (`libcamerasrc`).

The following configuration works fine:
[code]

However, when I increase resolution to a maximum of 4656x3496, this is what I get in glimagesink:

![glimagesink](https://i.imgur.com/mPxtdo2.png)

I can see pixels

[2022-08-16 21:26] kbingham commented on #22
Hi @chemicstry

You referenced 4565x3496 a couple of times, while the gst-device monitor output shows a max of 4656x3496. Can you confirm if the correctly specified values work? (I expect it's the same, and the 4565 is just a typo, as the odd number should be corrected by the pipeline negotiation).

I think I recall that the RPi ISP can only do downscaling, not upscaling, so I wonder what the conf

[2022-08-16 21:42] chemicstry commented on #22
Sorry, the `4565x3496` was indeed a typo when writting the issue, I've updated the original comment.

Log of `LIBCAMERA_LOG_LEVELS=RP*:0 gst-launch-1.0 libcamerasrc ! 'video/x-raw,width=3840,height=2400,framerate=5/1' ! glimagesink`:
<details>
  <summary>Collapsed</summary>

[code]
</details>

[2022-08-16 21:43] chemicstry commented on #22
Also a log of `LIBCAMERA_LOG_LEVELS=RP*:0 gst-launch-1.0 libcamerasrc ! 'video/x-raw,width=4656,height=3496,framerate=5/1' ! glimagesink`:
<details>
  <summary>Collapsed</summary>

[code]
</details>

[2022-08-16 22:28] kbingham commented on #22
Ok - extracting the useful bits, from the 3840x2400 (working)

[code]

And on garbled:

[code]

Both select the same sensor mode of 4656x3496-pRAA, and look as expected to me there.

The horizontal lines look like they're losing maybe 16 pixels per line perhaps ? So I suspect there is some stride/width issue around that indeed. I believe multiples of 16 pixels should be well aligned/supported - so

[2022-08-16 22:57] chemicstry commented on #22
Yep it seems to need an alignment of 32. Here are my test results:
4096x3496 - works
4112x3496 - does not work
4128x3496 - works
4144x3496 - does not work
4160x3496 - works

The last multiple of 32 at 4640x3496 also works.

Is this an issue with a camera width/height step value of `2`, that should have been `32`? Or is this a gstreamer alignment requirement?

[2022-08-16 23:34] kbingham commented on #22
I would suspect we have an issue conveying strides through from libcamera to the gstreamer element perhaps, but it needs more digging in the gstlibcamerasrc component.

[2022-08-17 07:51] 6by9 commented on #22
The main output of the ISP will happily scale anything in either direction. The low resolution output must be unity or a downscale from the high res one.

The image certainly looks like a stride issue.
We can support any active image size that is a multiple of 2 in width & height (that's only to avoid the weirdness of chroma subsampling with an odd number of luma lines), but the overall buffer geo

[2022-08-22 09:59] Cerlancism opened #23 "disable_camera_led=1 in /boot/config.txt no longer works?"
`disable_camera_led=1` in `/boot/config.txt` worked previously until a recent `sudo apt full-upgrade`, the camera led no longer able to turn off.

Also tried the following to disable LED:
- Seems picamera no longer supported on the 64 bit OS release, tried `picamera2`
[code]
- GPIO
[code]
    - Gets warning though `<stdin>:1: RuntimeWarning: This channel is already in use, continuing anyway.  Use

[2022-08-22 16:54] 6by9 commented on #23
libcamera has NEVER supported the LED, therefore ```disable_camera_led=1``` has never done anything useful under libcamera. (Minor exception with the very original OV5647 driver which used GPIOs directly instead of via the regulator framework).

This is a firmware issue if using the basic start.elf, not startx or start_db. A fix has been created for review and release.

[2022-08-22 16:57] 6by9 commented on #23
https://forums.raspberrypi.com/viewtopic.php?t=338917 for the forum thread.

[2022-08-24 12:05] pbaetens opened #24 "libcamera-vid not showing video"
libcamera-vid does not show video, except when used with the --qt-preview argument - then everything is OK.
tested with latest master.
with a checkout from April, this was still working fine.

[2022-08-24 12:36] 6by9 commented on #24
Duplicate of https://github.com/raspberrypi/libcamera-apps/issues/347

[2022-08-24 12:36] #24 closed

[2022-09-18 13:33] torstenschenk opened #25 "imx219 Rev.D instable behavior, init fails"
**Describe the bug**
imx219 Rev.C (UC-350) working fine on raspberry4 64bit with libcamera interface
imx219 **Rev.D** (UC-350) not working with various issues with libcamera interface

**Bug report**
[bug-report.txt](https://github.com/raspberrypi/libcamera/files/9594050/bug-report.txt)

**Additional context**
Some imx219 Rev.D can run as secondary camera on multi camera boards. Several have issue

[2022-09-19 20:25] 6by9 commented on #25
UC-350 is presumably an Arducam camera module. If there are issues with those modules that are not present with the Raspberry Pi IMX219 camera module, then you need to speak to Arducam about it. https://forum.arducam.com/ or https://www.arducam.com/contact-arducam/

[2022-09-19 20:28] 6by9 commented on #23
Issue found in the firmware probe if start_x=1 is not set in config.txt (shouldn't be necessary for libcamera). It's been fixed in the latest firmware releases.

[2022-09-19 20:28] #23 closed

[2022-09-20 10:27] savidha777 opened #26 "Cam utility is not listing the camera in RPI 3B+"
Hi

In RDK-C RPI camera image, Added "dtoverlay=imx219" in /boot/config.txt file and rebooted the system.

Once system rebooted , tried to list out available camera in RPI system with 'cam -l' utility.

But it is not listing the camera. After the some prints binary is hanged.

Used latest libcamera revision : 74ab3f778c848b20cbf8fe299170756ff6ebab1a

Please find below log:
root@raspberrypi3-rdk-ca

[2022-09-20 10:32] savidha777 commented on #26
Currently we are using below kernel and boot loader version for RPI

Kernel:
SRC URI : git://github.com/raspberrypi/linux.git
Branch : rpi-5.4.y

Boot loader:
https://github.com/raspberrypi/firmware/archive/1eb8921ae7158249894f89e8bb6c4bfb04ec7377.tar.gz
SRC_REV : 1eb8921ae7158249894f89e8bb6c4bfb04ec7377 (19Nov2020)

Is this kernel and boot loader version is okay to check libcamera use case or els

[2022-09-20 10:39] kbingham commented on #26
Are you able to connect with GDB and get a backtrace of all threads to see where it is blocked perhaps?

The cam tool itself shouldn't hang ...

[2022-09-20 10:40] kbingham commented on #26
This sounds quite old?

[2022-09-20 10:44] savidha777 commented on #26
Okay, Will check and update

[2022-09-20 11:43] 6by9 commented on #26
All the libcamera development is against rpi-5.15.y.
I wouldn't like to take any bets over which libcamera functionality works on rpi-5.10.y, let alone rpi-5.4.y.

[2022-09-20 13:48] savidha777 commented on #26
Are you suggesting to use rpi-5.15.y for libcamera?

[2022-09-20 14:57] 6by9 commented on #26
Yes.

rpi-5.4.y was last updated from mainline in December 2020. Mainline 5.4 is still updated on https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/log/?h=linux-5.4.y if you had a desperate need to rebase it, but be aware that it goes EOL Dec 2025 (https://www.kernel.org/category/releases.html)

rpi-5.10.y is maintained as the kernel for Raspberry Pi Legacy OS (based on Debian Buste

[2022-09-26 05:45] dzyla opened #27 "After update libcamera Cannot allocate memory"
Hi,

I am using RPi 3B and had a running script using picamera2. However, after the update of picamera2, I had to update the system, and now, I cannot use the Pi HQ camera on Pi3B, but the problem seems to be related to libcamera itself, not picamera2. The error I am getting is:

[code]

I tried RPi camera 1.3, and it works well. The details of my system:
`Linux raspberrypi 5.15.61-v7+ #1579 SMP F

[2022-09-26 05:52] dzyla commented on #27
Ok, after an update to the boot.txt, I added:

[code]
And it seems to be working. Before the update, RPi was automatically detecting the camera sensor.

In addition, updated picamera2 works as well.

[2022-10-03 16:27] tewarid opened #28 "Alignment error when building with clang/clang++ 15"
Building with clang/clang++ 15 toolchain results in following error

[code]

It is easy to work around the error using `-Wno-unaligned-access` but would be worth chasing it down as this could result in subtle runtime issues.

[2022-10-03 16:34] tewarid commented on #28
Duplicate of https://github.com/kbingham/libcamera/pull/40.

[2022-10-03 16:34] #28 closed

[2022-10-20 13:03] kralo opened #29 "qcam crashes after selecting camera [CM4, ov9281] when `decimal separator <> '.'`"
this is with pretty recent updates.

The qcam camera selection dialogue appears. Upon clicking "OK", the SIGSEV happens.

Might this be related to the latest updates?

[code]

[code]

[2022-10-20 15:06] chrizbee commented on #12
@kbingham Does this still work for you?
Whenever I stop and restart the stream it will not resume... (tested with qcam).

[2022-10-20 16:15] kbingham commented on #29
I think this is fixed by [ipa: raspberrypi: Rename ov9281.json to ov9281_mono.json](https://git.libcamera.org/libcamera/libcamera.git/commit/?id=6b9049de1f12fca108c0affe29923a5427a9fb02)

You could probably check by renaming it yourself:
`mv /usr/share/libcamera/ipa/raspberrypi/ov9281.json /usr/share/libcamera/ipa/raspberrypi/ov9281_mono.json`

[2022-10-21 15:43] kralo commented on #29
No, this is not it. I did this already.
I tried with a fresh image:
If I hadn't the ov9281_mono.json, I'd get `Configuration file 'ov9281_mono.json' not found for IPA module 'raspberrypi'` .

The crash must be something different.

[code]

[2022-10-21 16:07] kralo commented on #29
looks like a null-pointer in `agc`

https://github.com/raspberrypi/libcamera/blob/cb4c5f3e44d41b646c6c7b74689af6d9584e62fa/src/ipa/raspberrypi/raspberrypi.cpp#L1186-L1188

[code]
[...]

[2022-11-01 16:56] Consti10 opened #30 "Libcamera - proper 60fps support missing for rpi HQ camera"
Our goal is to use use both 1280x720@60 and 640x480@90 fps modes on the rpi default HQ camera with libcamera.

720p60 and 640x480@90 both work flawlessly in the mmal land (we use gst-rpicamsrc for that, but that is just the same as using hello-video or similar).

However, I kinda get the feeling that these 2 modes are still missing in libcamera, or at least not implemented as well as in mmal.

Exa

[2022-11-01 17:44] kbingham commented on #30
Looking at that - the issue is likely that the framerate support in gstreamer still isn't merged I'm afraid. There are patches available that need testing, review and integration.

If you can rebuild libcamera on your platform, try adding these two patches and retest.

https://patchwork.libcamera.org/project/libcamera/list/?series=3487

[2022-11-01 18:07] Consti10 commented on #30
Thanks for the info, that is good to know. It doesn't explain why libcamera-hello selects an inapropriate sensor format
for these framerates / resolutions though, right ?

[2022-11-01 18:11] Consti10 commented on #30
It should at least select 1332 × 990 for 720p and 640x480, right ?

https://www.raspberrypi.com/documentation/accessories/camera.html

(And ideally, 1332 × 990 is binned instead of cropped. Not sure if someone bothered to bring those modes out of the broadcom blob into the linux OS sensor driver(s) though).

[2022-11-01 18:15] kbingham commented on #30
(Which actually, if you could test, and report back - would help progress that)

[2022-11-01 18:21] Consti10 commented on #30
I did look into the libcamera rpi code.

https://github.com/raspberrypi/libcamera/blob/7c855784a28d0c9b742c6137bf311ac3779373df/src/libcamera/pipeline/raspberrypi/raspberrypi.cpp#L133

Looks like the framerate is not even accounted for when selecting the "best" sensor format ?
It only takes resolution and bit depth into account.
But on the other hand, even just using the resolution I'd think for 7

[2022-11-01 18:29] Consti10 commented on #30
Do you know where the "format selection" code from gst-rpicamsrc can be found ? Or is it just the same as here in libcamera. In this case, I don't think the patches would change anything on a rpi with the HQ camera.

Since HQ 2028 × 1520p40 maxes out at 40fps (at least according to their doc here https://www.raspberrypi.com/documentation/accessories/camera.html )

[2022-11-01 18:32] 6by9 commented on #30
Do not use ```sudo``` for libcamera commands - it really shouldn't be needed and is a very bad habit to get into.

Yes the mode selection algorithm is always going to have some conditions that are sub-optimal. I thought there had been discussions over including framerate and it had been rejected, but I'm not directly involved.

```libcamera-vid --width 1280 --height 720 --framerate 60 --mode 1332:

[2022-11-01 18:45] Consti10 commented on #30
Thanks for these helpfull tipps, while I cannot get rid of the sudo yet both tools you posted really help.

I can confirm that manually specifying the sensor resolution "works", aka I get 16.6ms frame delta(s)
I can also say that not manually specifying the sensor resolution (but setting 720p60fps) give frame delta(s) of 19.99ms.

I understand that the mode selection is not easy, but silently igno

[2022-11-01 23:54] Consti10 commented on #30
This probably is a gst-rpicamsrc issue, but nonetheless imporant for here: for some reason, with gst-rpicamsrc I am getting about 15fps (according to my gstreamer fpsdisplaysink running on another x86 pc)

Tx pipeline:
`sudo gst-launch-1.0 libcamerasrc camera-name=/base/soc/i2c0mux/i2c@1/imx477@1a ! capsfilter caps=video/x-raw,width=1280,height=720,format=NV12,framerate=60/1 ! v4l2convert ! v4l2h2

[2022-11-02 09:16] kbingham commented on #30
Add "interlace-mode=(string)progressive" to your capsfilter after libcamerasrc, and remove the v4l2convert. You don't want to give gstreamer the opportunity to do any software processing of the image.

Otherwise, if you haven't applied the patches I mentioned above, you simply can't specifiy the framerate through the gstlibcamerasrc yet (you can put the filter on, but it won't take effect) - So I

[2022-11-02 10:55] Consti10 commented on #30
Thanks for the info, I can confirm I was in a dark room and when I re-run the pipeline above in a lighter environment I get the (expected) 30fps (here I was just surprised by the 15 fps even though I expected at least 30fps, knowing that setting the fps won't work but libcamera defaults to 30fps). But your explanation makes total sense ;)

Yeah we've been wanting to get rid of the v4l2convert for

[2022-11-02 10:57] Consti10 commented on #30
Since we already build gstreamer ourselves to keep gst-rpicamsrc as an option for the users (switching between non-legacy and legacy camera stack) I've asked the dev responsible to apply the patches. I'l let you know if they work.

[2022-11-02 11:01] Consti10 commented on #30
Do you know if it is already possible to set the sensor mode (as shown by 6by9 with libcamera-vid) with gst libcamerasrc ?

[2022-11-02 11:06] kbingham commented on #30
I'm not sure, I suspect that feature for explicitly setting a raw sensor mode is not yet implemented in the gstreamer gstlibcamerasrc, and will need explicit investigation. If you are willing to do this, let us know and we'll help,

[2022-11-02 11:14] kbingham commented on #30
Note that currently the gstreamer element for libcamera might need explicit specification for the following properties:
-    colorimetery
-    framerate
-    interlace-mode

Try adding the colorimetry in there too.

`capsfilter caps="video/x-raw,width=1280,height=720,format=NV12,framerate=60/1,interlace-mode=(string)progressive,colorimetry=bt709" `

I believe I have tested the example at:

https:/

[2022-11-02 11:20] Consti10 commented on #30
I can confirm that setting both the interlace mode and colorimetry allows you to get rid of v4l2convert. Thanks !

[2022-11-02 12:17] Consti10 commented on #30
Quick question: Is it safe to install libcamera from https://git.libcamera.org/libcamera/libcamera.git and use on a rpi ? Or should we build and install from here.

[2022-11-02 12:59] kbingham commented on #30
I see RPi have a couple of patches on top of libcamera at the moment. To maintain existing behaviour, I think you should probably continue to use this tree for the time being.

[2022-11-02 18:53] Consti10 commented on #30
To test the linked patches, I've performed the following steps:
1) clone and install libcamera from raspberrypi/libcamera (main)
2) use `gst-launch-1.0 libcamerasrc camera-name=/base/soc/i2c0mux/i2c@1/imx477@1a ! capsfilter caps="video/x-raw,width=1280,height=720,format=NV12,framerate=30/1,interlace-mode=(string)progressive,colorimetry=bt709" ! v4l2h264enc extra-controls="controls,repeat_sequence_

[2022-11-02 18:57] Consti10 commented on #30
Full log (forgive me the sudo ;) )
sudo gst-launch-1.0 libcamerasrc -vvv camera-name=/base/soc/i2c0mux/i2c@1/imx477@1a ! capsfilter caps="video/x-raw,width=1280,height=720,format=NV12,framerate=30/1,interlace-mode=(string)progressive,colorimetry=bt709" ! v4l2h264enc extra-controls="controls,repeat_sequence_header=1,h264_profile=1,h264_level=11,video_bitrate=5000000,h264_i_frame_period=30,h264_mini

[2022-11-02 19:00] Consti10 commented on #30
I've also tried setting 50fps in a light environment - getting 30fps in this case

[2022-11-02 19:06] Consti10 commented on #30
Actually, I am not sure if I did everyhting correctly - I've uninstalled the (patched) libcamera build using `sudo ninja -C build uninstall` but gst-inspect-1.0 still shows me libcamerasrc.
Any ideas ?

[2022-11-02 19:33] Consti10 commented on #30
Yeah, okay, my mistake - aparently you have to set `export GST_PLUGIN_PATH=$(pwd)/build/src/gstreamer` such that gstreamer then actually uses the now build plugin (I suspect that libcamerasrc also comes with the default rpi os gstreamer installation)

Now I can report -
1) Setting 720p50fps -> measured 50fps output
2) Setting 720p30fps -> measured 30fps output (even in low light)
3) Setting 720p60

[2022-11-04 00:33] kbingham commented on #26
@savidha777 When you get a back trace of all threads, please attach it here (not the other issue).

[2022-11-04 03:37] savidha777 commented on #26
Hi @kbingham

Please find back trace of all thread

(gdb) info threads
  Id   Target Id         Frame
* 1    LWP 1556 "cam"    0x76b65a94 in ?? () from /lib/libpthread.so.0
  2    LWP 1693 "cam"    0x76b65a94 in ?? () from /lib/libpthread.so.0
(gdb) thread apply all bt

Thread 2 (LWP 1693):
#0  0x76b65a94 in ?? () from /lib/libpthread.so.0
#1  0x76b63d84 in ?? () from /lib/libpthread.so.0
Backtrac

[2022-11-04 09:34] kbingham commented on #26
This is a different backtrace location this time, and it shows that the CameraManager is still waiting for all the pipeline handlers to complete. Please *always* set LIBCAMERA_LOG_LEVELS=*:0 so we can see what libcamera is doing.

It could be worth running with strace too to see if that's showing more helpful information about where it is blocked.
- [ ]  `LIBCAMERA_LOG_LEVELS=*:0 strace -e ioctl -

[2022-11-04 14:50] Newbytee opened #31 "Documentation claims this can be built with Meson 0.56, but 0.58 is required"
Hello! :wave:

Currently, your fork of libcamera advertises itself as only requiring Meson 0.56. However, this is not actually the case as your meson.build uses the replace() function for strings, which was introduced in Meson 0.58: https://mesonbuild.com/Release-notes-for-0-58-0.html#string-replace

To resolve this you can cherry-pick this commit from upstream: https://git.libcamera.org/libcamera

[2022-11-04 14:58] kbingham commented on #31
Fetching/mirroring the tags here would also prevent the issue from being hit. The code path is only executed when the 0.0.1 tag isn't available in the tree, which can happen if you clone from a tree without the tags.

[2022-11-04 14:59] kbingham commented on #31
(fetching tags from the upstream repo is another workaround if you hit the bug locally)

[2022-11-04 15:24] naushir commented on #30
There is no direct API in libcamera to allow sensor mode selection.  The system selects a sensor mode based on what output resolution was requested.  Again, there is no way to factor framerate into this selection routine with the libcamera API.  As an alternative, libcamera-apps have added the ``--mode`` and ``--viewfinder-mode`` command line arguments to manually override the sensor mode selectio

[2022-11-04 15:32] naushir commented on #31
This will be updated in our next libcamera release.

[2022-11-04 15:34] naushir commented on #27
Do not change the default value of ``max_framebuffers`` unless you need to.  This parameter is **not** use for camera frame buffer allocation.

[2022-11-04 15:35] naushir commented on #27
If there is nothing else pending for this issue, I'll resolve it.  Feel free to reopen if you are still having problems.

[2022-11-04 15:39] naushir commented on #29
[code]

You should not be seeing any of these error messages.  I suggest you pull the latest libcamera and libcamera-apps builds from apt to reset your environment and try again.

[2022-11-04 15:39] naushir commented on #25
Is there anything further to look at here?  If not, I'll close this issue down shortly.

[2022-11-04 15:46] naushir commented on #22
Closing due to inactivity - and given this is a striding issue with the gstreamer component.

[2022-11-04 15:46] #22 closed

[2022-11-04 15:52] naushir commented on #26
Would you be able to run the ``camera-bug-report`` command, and share the output file generated please?

[2022-11-04 16:17] chemicstry commented on #22
It's still an issue. Should this be forwarded to upstream libcamera?

[2022-11-04 16:18] kbingham commented on #22
Yes, bugs.libcamera.org please.

[2022-11-04 16:40] kralo commented on #29
What do you mean? To my knowledge, these are the latest:

[code]
[bug-report.txt](https://github.com/raspberrypi/libcamera/files/9940417/bug-report.txt)

[2022-11-04 17:30] naushir commented on #29
Those log messages suggest the ov9281 tuning file installed on your system is an old format file. The new format file can be found in the latest releases such as https://github.com/raspberrypi/libcamera/blob/main/src/ipa/raspberrypi/data/ov9281.json

[2022-11-04 18:49] kralo commented on #29
no, that's not it

[code]

[2022-11-04 18:50] kralo commented on #29
no, that's not it

[code]

[2022-11-05 14:36] Consti10 commented on #30
Since a resolution is always tied to a max (sometimes also min framerate), this sounds like a not ideal design to me. Either libcamera (as a library) should expose the functionality to query all sensor modes and then select a specific sensor mode,
Offloading the selection completely to the (library) user.
Or it should allow setting a specific resolution@framerate (for video), and then figure out t

[2022-11-05 14:44] Consti10 commented on #30
I think it would be possible to work around this issue specifically here (with the HQ camera) though. What about modifying the (rpi) sensor mode selection code to select 1332 × 990 instead of 2028x1080 when the user selects 720p ? Aka implement the following algorithm:
Take the "smallest" sensor mode that is equal or greater than the requested resolution ? I can only see benefits from this default

[2022-11-05 14:46] Consti10 commented on #30
I am wondering - should merge requests concerning code in [libcamera/src/libcamera/pipeline/raspberrypi/raspberrypi.cpp](https://github.com/raspberrypi/libcamera/blob/7c855784a28d0c9b742c6137bf311ac3779373df/src/libcamera/pipeline/raspberrypi/raspberrypi.cpp#L133) be done here (since it is rpi-specific) ?

[2022-11-05 14:57] Consti10 commented on #30
Some logs on this topic: Requesting 720p withut specifying the sensor mode, I get:

`[0:03:01.857414251] [880]  INFO Camera camera.cpp:1026 configuring streams: (0) 1280x720-YUV420
...
[0:03:01.857923710] [881] DEBUG RPI raspberrypi.cpp:167 Format: 1332x990 fmt SRGGB10 Score: 2377.47 (best 2377.47)
[0:03:01.857977636] [881] DEBUG RPI raspberrypi.cpp:167 Format: 2028x1080 fmt SRGGB12 Score: 314.5 (

[2022-11-07 09:16] naushir commented on #25
Closing now...

[2022-11-07 09:16] #25 closed

[2022-11-07 09:21] naushir commented on #30
Merge requests for any code in the libcamera tree (e.g. the Raspberry Pi pipeline handler in this case) should be done though the libcamera dev mailing list.  You can find the instructions [here](https://libcamera.org/contributing.html).

[2022-11-07 09:28] naushir commented on #30
Unfortunately, this will cause a regression.  The 1332x990 mode does not actually use binning, rather it scales in the Bayer domain.  This causes a significant loss of image quality when compared with direct binning.  The reason for using scaling over binning is to achieve a faster framerate readout because of limitation in the sensor electronics.

One approach to make things easier would be for l

[2022-11-07 11:23] savidha777 commented on #26
Hi @naushir

No, We don't have this camera-bug-report utility in RDK-C RPI image.

root@raspberrypi3-rdk-camera:~# camera-bug-report
-sh: camera-bug-report: command not found
root@raspberrypi3-rdk-camera:~#

[2022-11-07 11:33] naushir commented on #26
You can find the tool in the ``utils/`` directory of the libcamera-apps repo (https://github.com/raspberrypi/libcamera-apps/tree/main/utils).

[2022-11-07 23:03] Consti10 commented on #30
Thanks for letting me know. I don't think I'l invest the time to properly go through this hustle - In my opinion, the sensor mode selection code is flawed, but we now have a simple workaround.
https://github.com/OpenHD/libcamera/pull/2

[2022-11-07 23:11] Consti10 commented on #30
I don't think that's true. The data needs to be cropped anyways before going through the isp. And eliminating those wasted pixels as early as possible should be the standard approach. The only thing in this specific case where one perhaps could make a point is that the 2028x1080 provides 12bpp instead of the 10bpp in  1332x990. But from my testing, this 12bpp is just the default param of libcamera

[2022-11-08 01:24] Consti10 commented on #30
actually, I just had a look at the source code - 1332x990 is binned and cropped
https://github.com/raspberrypi/linux/blob/rpi-5.15.y/drivers/media/i2c/imx477.c#L999

[2022-11-08 09:10] naushir commented on #30
That comment is wrong, the fast fps mode definitely uses scaling together with cropping.

[2022-11-08 09:11] #30 closed

[2022-11-08 11:11] naushir commented on #29
Starting with a new clean 32-bit image, and doing a ``sudo apt update && sudo apt upgrade``, I have the same version as you are running:
[code]

Once I do a ``sudo cp /usr/share/libcamera/ipa/raspberrypi/ov9281.json /usr/share/libcamera/ipa/raspberrypi/ov9281_mono.json`` - which is needed until we bump our libcamera tree to the latest version, my ov9281 works as expected:
[code]
You can ignore the

[2022-11-09 16:07] naushir commented on #31
The latest libcamera release on apt has the change to remove the string replace().

[2022-11-09 16:07] #31 closed

[2022-11-10 14:26] savidha777 commented on #26
Hi @naushir

Please find attached camera-bug-report
[bug-report.txt](https://github.com/raspberrypi/libcamera/files/9981711/bug-report.txt)

[2022-11-10 14:59] savidha777 commented on #26
Hi @kbingham

Please find this attached strace log
[strace.txt](https://github.com/raspberrypi/libcamera/files/9981756/strace.txt)

**cam -l** utility is working fine with Raspberry Pi OS
pi@raspberrypi:/ $ cam -l
[0:22:46.949737158] [6417]  INFO Camera camera_manager.cpp:293 libcamera v0.0.1+54-d528119f
[0:22:47.017153802] [6418]  WARN RPI raspberrypi.cpp:1297 Mismatch between Unicam and CamHelpe

[2022-11-11 08:48] naushir commented on #26
It's going to be very hard to debug your issue here given you are running a custom OS environment.  I would suggest you first try with a Raspberry Pi OS distribution and see if everything works for you.  If it does, you may want to raise an issue with the folks who package your OS about how they build/include the libcamera libraries.

[2022-11-11 12:05] kbingham commented on #26
@savidha777 - could we perhaps re-clarify what issue you are really trying to solve here ?

In the log you've sent - it includes:

** libcamera-hello --list-cameras **
Available cameras
-----------------
0 : imx219 [3280x2464] (/base/soc/i2c0mux/i2c@1/imx219@10)
    Modes: 'SRGGB10_CSI2P' : 640x480 [206.65 fps - (1000, 752)/1280x960 crop]
                             1640x1232 [41.85 fps - (0, 0)/

[2022-11-11 13:03] savidha777 commented on #26
Hi @kbingham

libcamera-hello --list-cameras -> This utility is listing the camera, This is provided by libcamera-apps repo

we are getting hang issue with **"cam -l"** utility.
pls find this strace log file
[strace.txt](https://github.com/raspberrypi/libcamera/files/9990395/strace.txt)

[2022-11-11 15:15] kbingham commented on #26
The fact that it's hanging with cam, but not libcamera-hello is *very* odd.

How have you got libcamera-hello on the target, is it different to how you've got cam on the target?

Could you build and test 'simple-cam' please?
https://git.libcamera.org/libcamera/simple-cam.git/

What about qcam - or the gstreamer element - are there other libcamera enabled applications that you are able to test?

Ar

[2022-11-11 18:15] kralo commented on #29
`2022-09-22-raspios-bullseye-armhf.img.xz` image is fine.
fresh -arm64  crashes on first try.

on (fresh)
[code]

and same with updated
[code]

btw, I am running `$ qcam`, not libcamera. Libcamera shows the same output as yours.

Aren't you able to reproduce this?

[2022-11-12 21:57] TeeKKar opened #32 "Anyway to add crosshair overlay to libcamera-hello preview?"
I am trying to add a crosshair so I can center my raspberry camera, is there any way I can do that?

[2022-11-14 10:13] naushir commented on #32
Could you please open an issue in the libcamera-apps repo to discuss this?
https://github.com/raspberrypi/libcamera-apps/issues

Alternatively, you might want to look at picamera2 - which is likely to be easier to achieve what you want:
https://github.com/raspberrypi/picamera2

[2022-11-14 10:13] #32 closed

[2022-11-14 10:14] naushir commented on #29
Unfortunately I have not been able to reproduce.  I will try again with a fresh image in case I did something wrong.

[2022-11-14 10:15] naushir commented on #29
Just to clarify, does ``libcamera-hello -t 0`` work with your build?

[2022-11-17 09:03] savidha777 commented on #26
Hi @kbingham

We have used yocto recipe for the libcamera compilation. Used same steps only for both cam and libcamera-hello bring-up.

libcamerasrc gstreamer plugin is working fine with upgraded 5.15 kernel, but cam utility only is hanged.

hang issue observed libcamera revision : 685da13d02c01ed0a2bb7080f95b7ac56e80f221 (21-09-2022)

NOTE:
Now cam utility hang issue got resolved with a8113fb3a89

[2022-11-18 12:38] NatGr commented on #29
Hello all,

I've got the same problem as @kralo but I'm using an imx477 sensor.

I think the bug is caused by an interaction between QT and recent versions of libcamera.
I did not face this bug with qcam first, but with a custom program using both libcamera and qt. I've got another version of the program that does not use qt and it runs fine.

Both of these programs are a few months old and ran fi

[2022-11-18 12:51] kbingham commented on #29
@NatGr Are you compiling these applications yourself? Are you compiling libcamera yourself? I'm worried we're hitting ABI instability issues here or multiple installed versions. You may need to recompile your custom application to match the updated libcamera install.

It sounds like your issue may be independent, please create a new/separate issue and paste a full backtrace / log of the crash - an

[2022-11-18 13:10] NatGr commented on #29
I'm compiling my two applications myself but libcamera and qcam come from the package manager.
I've recompiled my applications between the different installations of libcamera.

Here is a backtrace of qcam. I just mentionned my application to give a bit of context, I don't think it's worth creating another issue but I'll do it if you disagree.

Starting program: /usr/bin/qcam
[Thread debugging usi

[2022-11-19 01:06] ktorimaru opened #33 "Getting Started fails"
ninja -C build install
ninja: Entering directory `build'
[1/2] Installing files.
Installation failed due to insufficient permissions.
Attempting to use polkit to gain elevated privileges...
==== AUTHENTICATING FOR org.freedesktop.policykit.exec ===
Authentication is needed to run `/usr/bin/python3' as the super user
Authenticating as: root
Password:
polkit-agent-helper-1: error response to PolicyK

[2022-11-19 15:10] kbingham commented on #33
Try calling 'sudo ninja -C build install'
 root permission is required to install in the host system

[2022-11-19 18:09] kralo commented on #29
So, to recap:

I get the crash in` libcamera::ipa::RPi::IPARPi::applyFrameDurations (this=this@entry=0x7fe000c280, minFrameDuration=..., maxFrameDuration=...) at ../src/ipa/raspberrypi/raspberrypi.cpp:1188` with an arducam ov9281 and qcam on a fresh 64bit image.

@NatGr  gets it with imx447 at the same function.

I just tested and get the crash with an inno-maker ov9281 also.  This is with `qcam`

[2022-11-21 08:44] naushir commented on #29
It definitely works for me.  When I get some spare time, I'll try reverting to earlier packages and test out.

[2022-11-21 10:09] naushir commented on #29
Given that ``libcamera-apps`` works, it might be worth running ``ldd $(which libcamera-hello)`` and ``ldd $(which qcam)`` and see if they both use the same set of libcamera* libraries.

[2022-11-21 11:47] kralo commented on #29
This does not tell me anything.

[code]

[2022-11-21 12:16] kbingham commented on #29
@naushir could this because libcamera-apps are setting some environment variable that gets used which isn't set in qcam or anything like that ?

[2022-11-21 12:27] naushir commented on #29
The only env variable it sets (as far as I'm aware) is for the tuning file, if a custom one is specified on the command line.

[2022-11-21 13:16] kbingham commented on #29
Ok - shouldn't be that then. This is very perplexing that it is crashing in the core code/ipa with qcam, but not libcamera-apps.

@kralo - could you check with 'cam' ... something like `cam -c1 -C20 --metadata`

[2022-11-21 13:17] kbingham commented on #29
@kralo Do you know how to use git-bisect ?

If you can identify a specific commit in these ranges it may be enlightening.
[code]

[2022-11-21 14:12] kralo commented on #29
You have a hint where it is packaged?

[2022-11-21 14:19] kbingham commented on #29
That's why I've asked to bisect ... bisect means compile in stages between the failing version and the working version to see which commit introduces the issue.

if cam isn't packaged- that's up to RPi. When you build from source, it's build/src/apps/cam/cam -c1 -C20 --metadata - but if that's already known to work it's not going to tell us much.

[2022-11-21 14:24] kralo commented on #29
I know how to bisect.

Please explain to me the search trajectory.

When I compile the current tip of rpi/libcamera, which is d528119f, it works.
When I use the packaged version, **which claims the same commit hash**, it doesn't. Thats why I suppose there is something awry with the packaging.

Where should I go with bisecting? I don't have a "known bad" commit, because when I compile myself, it wo

[2022-11-21 16:35] ktorimaru commented on #33
Thanks for the suggestion. I have tried that:

sudo ninja -C build install
ninja: Entering directory `build'
[1/2] Installing files.
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/mesonbuild/mesonmain.py", line 140, in run
    return options.run_func(options)
  File "/usr/lib/python3/dist-packages/mesonbuild/minstall.py", line 554, in run
    installer.do_install(datafil

[2022-11-21 23:45] ktorimaru commented on #33
Although I know I ran:
   pip3 install --user --upgrade meson

I ran it again and this time:
  sudo ninja -C build install

Worked!

Thanks!

[2022-11-21 23:45] #33 closed

[2022-11-23 11:02] naushir commented on #29
Given that it works as expected for me with the exact same packages, I have run out of ideas as well.  We will be making a new package release imminently, so let's see what happens there.

[2022-11-24 09:32] kralo commented on #29
I got the sources via apt and rebuilt. I can produce an equally "broken" version.

What really bogs me is the error about the "format of the tuning file", when it is in reality "2.0" but the parser does not seem to understand it. I added additional output but cannot believe it can not parse "2.0".

[code]

[2022-11-24 09:47] naushir commented on #29
Erm... that seems very strange indeed!  libcamera uses the libyaml parser that gets included as a meson subproject:
[code]

I don't know too much about meson subprojects, but if you already have libyaml installed in your system, it may not re-build as part of the libcamera build.  In such cases, it is possible that you may have a different version from my setup causing a failure.

[2022-11-24 10:17] kralo commented on #29
hmm, but it does not seem to be relevant? It is not even downloaded ?

[code]

[2022-11-24 10:21] kralo commented on #29
When I remove `libyaml-dev` via apt, I cannot build.
You probably have the same output from `meson --reconfigure build` ?
`Dependency yaml-0.1 found: YES 0.2.2 (cached)`

[code]

[2022-11-24 10:42] naushir commented on #29
I don't have ``libyaml-dev`` installed.  On ``meson --reconfigure`` I get:
[code]

[2022-11-24 15:21] kralo commented on #29
@kbingham this looks like a veritable libcamera issue to me.

Fasten your seatbelts, I think this is a locale issue ( "2.0" style vs. "2,0" style)

**Crashes**
[code]

**works**
[code]

I have stepped into YamlObject::get
https://github.com/raspberrypi/libcamera/blob/d528119f811b3588a67cecf74e36fea50ebf5bab/src/libcamera/yaml_parser.cpp#L285-L289

And the situation is
[code]
This suggests that str

[2022-11-24 15:26] kbingham commented on #29
Yikes - How does that exhibit itself as a difference from when run when installed as a package, vs run from a self built tree?

[2022-11-24 15:30] naushir commented on #29
@kralo great debugging.  Is this something that can be solved if the "version" tag is read as a string instead of a float like it currently does?

If this does impact any float type numbers... there are plenty more in the tuning files to be read :(

[2022-11-24 15:33] kbingham commented on #29
Indeed - and there may be other locales with the same (but different) issue :-(

![iRfgc](https://user-images.githubusercontent.com/38009/203820929-29bee13c-4c9f-43e4-9b3a-bb690c8f0b5e.png)
https://german.stackexchange.com/questions/49204/in-germany-commas-are-used-as-decimal-separators-in-numbers-so-what-character

[2022-11-24 15:42] naushir commented on #29
I wonder if we need to use something like [this](https://en.cppreference.com/w/cpp/locale/setlocale) in libcamera?

[2022-11-24 15:42] kbingham commented on #29
Given we define the yaml files in a specific locale , we could also set the locale when parsing (and then restore it after?)
https://en.cppreference.com/w/cpp/locale/setlocale

[2022-11-24 15:43] naushir commented on #29
I got there first :-)

[2022-11-24 16:12] kralo commented on #29
I have sent out a patch to libcamera that prints more verbose information which file it has read with which version number. That at least improves the speed of discovery and let you experts ponder what the right fix is.

I'll let this ticket stay open until a solution is found. I consider this reported to libcamera, because kb has seen it. ok?

[2022-11-24 16:23] naushir commented on #29
Sounds good, thanks for the debugging here!